@keyframes slowfall {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
.downbtn {
  animation: slowfall 5s;
}
.downbtn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: slowfall;
  animation-name: slowfall;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes photoPan {
  0%{
    left: -200px;
  }
  50% {
    left: -100px;
  }
  100%{
    left: -200px;
  }
}
@keyframes zoomIn {
  0%{
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.0);
  }
}
.restleft img {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-name: photoPan;
    animation-name: photoPan;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
.restright img {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-name: photoPan;
    animation-name: photoPan;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

.hserveimage img {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
