html, *{
  margin: 0;
  padding: 0;
  }
::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}

.for_slick_slider{
  display: flex;
}
.for_slick_slider .items{
  width: 350px;
  height: 250px;
  margin: 50px;
  position: relative;
}

.for_slick_slider .slick-center .overlay{
  display: flex;
  opacity: 0;
}

.for_slick_slider .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.64);
}

.for_slick_slider .items img{
  width: 350px;
  height: 250px;
}
.for_slick_slider .slick-center img{
  transform: scale(1.2);
}
