html{
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
*, body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x:hidden;
  transition: opacity 0.5s;
}


::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}
.container{
  width: 1600px;
  height: auto;
}
/* LOGO MENU */
.logo-menu{
  position: fixed;
  width: 210px;
  margin: 0px;
  top: 0;
  text-align: center;
  background-color: #1c1c1c;
  z-index: 1000;
  transition: 1s;
  transition-delay: .5s;
}
.logo{
  width: 200px;
  height: 74px;
  margin: 5px 0 0 5px;
  transition: 1s;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
.logo-menu img{
  width: 200px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
.menu-button{
  width: 49%;
  height: 30px;
  text-align: center;
  float: left;
  border: 1px solid black;
  cursor: pointer;
}
.menu-button p{
  color: #ccc;
  padding: 8px 0;
  font-size: .8em;
}
.menu-button:hover{
  color: white;
  opacity: 1;
  background-color: black;
}
.menu-item:hover{
  color: white;
}
.menu-button input{
  /* display: none; */
}
.menu-button label{
  font-size: 0.8em;
  padding: 15px;
/* LGOGO MENU */

/* NAVIGATION */
}
#home{
  width: 100%;
  height: 100vh;
  /* background-image: url(../images/hotel3.jpg); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.slider img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.controls{
  width: 200px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5) ;
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
}
.controls a{
  align-self: center;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
  display: block;
  padding: 17px 0;
}
.controls a:hover{
  align-self: center;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.6em;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}

#nav-window{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 100vw;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 990;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
.nav-menus{
  width: 400px;
  height: auto;
  align-self:center;
}
.nav-menus ul{
  margin: 0;
  padding: 0;
}
.nav-menus li{
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}
.nav-menus a{
  text-decoration: none;
  color: #b4b4b4;
  width: auto;
  padding: 15px 20px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.nav-menus a:hover{
  color: white;
  background-color: rgba(0,0,0,.5);
  border-bottom: 1px solid red;
  letter-spacing: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.nav-btn{
  width: auto;
  height: 35px;
}
#close a{
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-size: 0.7em;
  display: block;
  width: auto;
  height: 20px;
  padding: 15px 0 0 0;
}
#close a:hover{
  color: red;
  background-color: rgba(0,0,0,0);
  border-bottom: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.downbtn{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 60px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  z-index: 601;
}
.circlebtn{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.downbtn a{
  display: block;
  padding: 20px 0;
  /* width: 60px;
  height: 60px; */
  color: white;
}
.sidebar{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  opacity: .5;
  width: 50px;
  height: auto;
  right: -80px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
  z-index: 900;
}
.sidebar:hover{
  opacity: 1;
}
.sidebar > * {
  color: grey;
  font-size: 1em;
  text-align: center;
  background-color: white;
  padding: 15px 0 10px 0;
  display: block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  opacity: .8;
}

.sidebar a:hover{
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
/* NAVIGATION */


#accommodation{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 100vw;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 990;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
#accommodation a{
  height: auto;
}
#accommodation p{
  font-size: 0.9em;
  line-height: 1.5em;
  color: grey;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#accommodation img{
  transition: 0.5s;
}
.acco-menus{
  width: 70%;
  height: auto;
  align-self:center;
}
.acco-room{
  width: 50%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  background-color: white;
  border-bottom: 2px solid white;
  transition: 0.5s;
  cursor: pointer;
}
.acco-room:hover{
  background-color: #e6e6e6;
  border-bottom: 2px solid red;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}
.acco-room h2{
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: #2c28b2;
  text-transform: uppercase;
  padding: 20px 0 10px;
}

.acco-suite:hover {
  background-color: #e6e6e6;
  border-bottom: 2px solid red;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}

.acco-room:hover img{
  transform: scale(1.1);
  transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
}
.acco-m-image {
  width: 100%;
  height: 240px;
}
.acco-suite{
  width: 50%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  background-color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.acco-suite:hover img{
  transform: scale(1.1);
  transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
}
.acco-suite h2{
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: #2c28b2;
  text-transform: uppercase;
  padding: 20px 0 10px;
}
.acco-menus ul{
  width: 100%;
  margin: 0;
  padding: 0;
}
.acco-menus li{
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}
.acco-menus a{
  text-decoration: none;
  color: #b4b4b4;
  width: 100%;
  padding: 15px 0;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.acco-menus a:hover{
  color: white;
  background-color: rgba(0,0,0,.5);
  border-bottom: 1px solid red;
  letter-spacing: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
/* DINING MENUS */

#dining a{
  height: auto;
}
#dining p{
  font-size: 0.9em;
  line-height: 1.5em;
  color: grey;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#dining img{
  transition: 0.5s;
}
.dine-menus{
  width: 70%;
  height: auto;
  align-self:center;
}
.limf{
  width: 50%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  background-color: white;
  border-bottom: 2px solid white;
  transition: 0.5s;
  cursor: pointer;
}
.limf:hover{
  background-color: #e6e6e6;
  border-bottom: 2px solid red;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}
.limf h2{
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: #2c28b2;
  text-transform: uppercase;
  padding: 20px 0 10px;
}
.vista h2{
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: #2c28b2;
  text-transform: uppercase;
  padding: 20px 0 10px;
}
.vista:hover {
  background-color: #e6e6e6;
  border-bottom: 2px solid red;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}

.limf:hover img{
  transform: scale(1.1);
  transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
}
.limf-image {
  width: 100%;
  height: 240px;
}
.vista{
  width: 50%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  background-color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.vista:hover img{
  transform: scale(1.1);
  transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
}
.visa h2{
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: #2c28b2;
  text-transform: uppercase;
  padding: 20px 0 10px;
}
.dine-menus ul{
  width: 100%;
  margin: 0;
  padding: 0;
}
.dine-menus li{
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}
.dine-menus a{
  text-decoration: none;
  color: #b4b4b4;
  width: 100%;
  padding: 15px 0;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.dine-menus a:hover{
  color: white;
  background-color: rgba(0,0,0,.5);
  border-bottom: 1px solid red;
  letter-spacing: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

/* DINING MENUS */
#singlebr{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 100vw;
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
.singlebrCont{
  align-self: center;
  width: 70%;
  height: 60%;
  background-color: white;
}
.singlebrimg{
  background-image: url(../images/room2.jpg);
  background-size: cover;
  width: 60%;
  height: 100%;
  float: left;
}
.singlebrtext{
  width: 30%;
  padding: 50px;
}
.singlebrtext p{
  margin-bottom: 15px;
  color: grey;
  line-height: 1.5em;
}
.singlebrtext h2{
  font-size: 3em;
  font-weight:300;
  color: #2c28b2;
  margin-bottom: 20px;
}
.singlebrtext h4{
  font-size: 1.5em;
  font-weight:300;
  color: orange;
}
.singlebrtext a{
  text-decoration: none;
  font-size: 0.8em;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
  margin-right: 20px;
  color: black;
}
.singlebrtext i{
  display: inline-block;
  float: left;
}
.singlebrtext a:hover{
  background-color: orange;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
#dining{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 100vw;
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 990;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
#dining a{
  height: auto;
}
.dining-menus{
  width: 22%;
  height: auto;
  align-self: center;
}
.dining-menus ul{
  margin: 0;
  padding: 0;
}
.dining-menus li{
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}
.dining-menus a{
  text-decoration: none;
  color: grey;
  width: 100%;
  padding: 20px 0;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.dining-menus a:hover{
  color: white;
  background-color: rgba(0,0,0,.5);
  border-bottom: 1px solid red;
  letter-spacing: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

/* SERVICE MENU */

#services{
  width: 100%;
  height: 100vh;
  left: 100vw;
  top: 0;
  opacity: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 990;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
#services a{
  height: auto;
  text-align: center;
}
#services p{
  font-size: 0.9em;
  line-height: 1.5em;
  color: grey;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#services h2{
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: #2c28b2;
  text-transform: uppercase;
  padding: 20px 0 10px;
}
.serv-menus{
  align-self: center;
  width: 846px;
  height:auto;
}
.s-menu-item-cont{
  width: 846px;
  height: 282px;
  background-color: white;
  align-self: center;
}
.s-menu-item{
  width: 200px;
  height: 200px;
  float: left;
  padding: 20px;
  margin: 20px;
  border: 1px solid #2c28b2;
  align-self:center;
}
.s-menu-item:hover{
  background-color: #e6e6e6;
}
.smicon{
  font-size: 5em;
}
.serv-menus ul{
  margin: 0;
  padding: 0;
}
.serv-menus li{
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}
.serv-menus a{
  text-decoration: none;
  color: grey;
  width: 100%;
  padding: 20px 0;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.serv-menus a:hover{
  color: white;
  background-color: rgba(0,0,0,.5);
  border-bottom: 1px solid red;
  letter-spacing: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
/* SERVICE MENU */

#booknow{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 100vw;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 990;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -ms-transition:     all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
.detailinput{
  width: 30%;
  height: auto;
  align-self:center;
}
.detailinput h3{
  color: #b4b4b4;
  text-align: center;
  padding-bottom: 3%;
}
.detailinput p{
  color: #b4b4b4;
  text-align: center;
  padding-bottom: 3%;
  margin-top: 20px;
  padding-bottom: 0;
}
.date{
  width: 49.5%;
  height: auto;
  float: left;
  border: 1px solid #b4b4b4;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
#a-date{
  font-size: 4em;
  text-align: center;
  padding: 0;
  margin-top: 0;
}
#a-month{
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
#d-date{
  font-size: 4em;
  text-align: center;
  padding: 0;
  margin-top: 0;
}
#d-month{
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.check{
  margin-top: 30px;
}
.check a{
  text-decoration: none;
  color: grey;
  width: 100%;
  padding: 20px 0;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0,0);
}
/* accommodation section begins here */

#h-accommodation{
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 4s;
}
.accoleft{
  align-self: center;
  height: auto;
  padding: 50px;
  transition: 1s;
  opacity: 0;
}
.accoleft h2{
  font-weight: 100;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 2em;
  color: #2c28b2;
}
.accoleft p{
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.accoleft:hover{
  background-color: #e6e6e6;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -ms-transition:     all .5s ease;
  -o-transition:      all .5s ease;
}
.accoleft img{
  display: block;
  transition: 0.4s;
}
.accoleft:hover img{
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.accoright{
  align-self: center;
  height: auto;
  padding: 50px;
  transition: 1s;
  opacity: 0;
}
.accoright h2{
  font-weight: 100;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 2em;
  color: #2c28b2;
}
.accoright p{
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.accoright:hover{
  background-color: #e6e6e6;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -ms-transition:     all .5s ease;
  -o-transition:      all .5s ease;
}
.accoright img{
  display: block;
  transition: 0.4s;
}
.accoright:hover img{
  transform: scale(1.1);
  transform-origin: 50% 50%;
}
.acco-image{
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.know{
  font-weight:normal;
  margin-top: 10px;
  text-decoration: none;
  color: grey;
  display: inline-block;
}
.know:hover{
  color: #2c28b2;
  letter-spacing: 2px;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -ms-transition:     all .5s ease;
  -o-transition:      all .5s ease;
}

/* accommodation section ends here */

#h-restaurant{
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  transition: 4s;
}
.restleft{
  background-color: #1c1c1c;
  width: 100%;
  height: 100vh;
  position: relative;
  border-right: 1px solid white;
  display: flex;
  flex-direction: row;
}
.restleft img{
  width: auto;
  height: 100vh;
  position: absolute;
  left: -200px;
  z-index: 5;
}
.restLtextbox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  height: auto;
  display: block;
  position: absolute;
  align-self: center;
  padding: 50px;
  right: 0;
  z-index: 10;
  transition: 1s;
  }

.restleft h2{
  font-weight: 100;
  text-align: right;
  padding: 20px 0 10px 0;
  font-size: 2em;
  color: white;
}
.restleft p{
  text-align: right;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
}
.res-know{
  font-weight:normal;
  margin-top: 10px;
  text-decoration: none;
  color: grey;
  display: inline-block;
}
.res-know:hover{
  color: white;
  letter-spacing: 2px;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -ms-transition:     all .5s ease;
  -o-transition:      all .5s ease;
}
.restright{
  background-color: #1c1c1c;
  width: 100%;
  height: 100vh;
  position: relative;
  border-right: 1px solid white;
  display: flex;
  flex-direction: row;
}
.restright img{
  width: auto;
  height: 100vh;
  position: absolute;
  left: -200px;
  z-index: 5;
}
.rest-textbox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  height: auto;
  display: block;
  position: absolute;
  padding: 50px;
  right: 0;
  z-index: 10;
  }

.restright h2{
  font-weight: 100;
  text-align: left;
  padding: 20px 0 10px 0;
  font-size: 2em;
  color: white;
}
.restright p{
  text-align: left;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
}
.restRtextbox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  height: auto;
  display: block;
  position: absolute;
  align-self: center;
  padding: 50px;
  left: 0;
  z-index: 10;
  transition: 1s;
}

#h-services{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hserveimage{
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}
.hserveimage img{
  width: 100vw;
  height: auto;
  position: absolute;
}
.hservetext{
  width: 60%;
  height: auto;
  display: block;
  padding: 60px;
  margin: 0 auto;
  height: auto;
  z-index: 5;
  transition: 1s;
}
.hserves{
  width: 60%;
  display: block;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  transition: 2s;
}
.hserv{
  width: 20%;
  height: auto;
  align-self: center;
  padding: 35px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  cursor: pointer;
}
.hserv:hover{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #2c28b2;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -ms-transition:     all .5s ease;
  -o-transition:      all .5s ease;
}
.hserv:hover .sicon{
  color: #2c28b2;
  -webkit-transition: all .5s ease;
  -moz-transition:    all .5s ease;
  -ms-transition:     all .5s ease;
  -o-transition:      all .5s ease;
}

#h-services h2{
  font-weight: 100;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 2em;
  color: #2c28b2;
}
#h-services h3{
  font-weight: 100;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
  color: #2c28b2;
}
#h-services p{
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.sicon {
  font-size: 3em;
  color: grey;
}

#h-gallery{
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.gal-cont{
  height: auto;
  width: 75%;
  align-self: center;
  transition: 1s;
}
#gallery{
  height: 80%;
}
#h-contact{
  width: 100%;
  margin: 0 auto;
  height: 275px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.address p{
  font-size: 0.8em;
  line-height: 2em;
  color: #ccc;
}
.address h4{
  margin-bottom: 10px;
}
.cont-container{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;

}
.cont-container > *{
  display: block;
  padding: 30px;
  color: #ccc;
}
.f-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.f-logo img{
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  align-self: center;
}
.s-med a{
  /* display: inline-block; */
  float: left;
  font-size: 1.5em;
  padding: 0 20px 20px 0;
  color: #ccc;
  width: auto;
}
.s-med a:hover{
  color: grey;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
.qlinks{
  transition: 0.5s;
  overflow-y: hidden;
}
.qlinks a{
  font-size: 0.8em;
  line-height: 2em;
  padding-left: 5px;
  color: #ccc;
  text-decoration: none;
  display: block;
}
.subql{
  padding-left: 15px;
}
.mainql .subql{
  visibility: hidden;
  display: none;
}
.mainql:hover .subql{
  visibility: visible;
  display: block;
  transition: 1s;
}

.qlinks a:hover{
  color: grey;
  padding-left: 8px;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
.qlinks h4{
  margin-bottom: 10px;
}
.footer{
  background-color: black;
  width: 100%;
  height: auto;
}
.footer p{
  text-align: center;
  color: grey;
  font-size: 0.8em;
  padding: 20px 0 20px 0;
}
.footer a{
  color: grey;
  text-decoration: none;
  padding-left: 10px;
}

#map {
   width: 100%;
   height: 200px;
   background-color: grey;
 }
 .map h4{
   margin-bottom: 10px;
 }

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
.roomback{
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom:0px;
  right: 0;
  z-index: -1;
}
.roomback img{
  width: 100%;
  height: auto;
}
#roomhome{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.roomhometext{
  display: block;
  position: absolute;
  text-align: center;
  bottom: 150px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  color: white;
  transition: 1.5s;
}
.roomhometext p{
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.roomhometext h2{
  font-weight: 100;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 2em;
}
#room1, #room2, #room3{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.roomtype{
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}
.room-image1{
  width: 47%;
  height: auto;
  overflow: hidden;
  transition: 1s;
}
.room-image1 img{
  width: auto;
  height: 100%;
  transition: 1s;
}
.room-text1{
  width: 47%;
  transition: 1s;
}
.room-text1 p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
}
.room-text1 h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}
.room-text1 h3{
  font-weight: 100;
  font-size: 1.2em;
  color: grey;
}
.room-image2{
  width: 47%;
  height: auto;
  overflow: hidden;
  transition: 1s;
}
.room-image2 img{
  width: auto;
  height: 100%;
  transition: 1s;
}
.room-text2{
  width: 47%;
  transition: 1s;
}
.room-text2 p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
}
.room-text2 h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}
.room-text2 h3{
  font-weight: 100;
  font-size: 1.2em;
  color: grey;
}
.room-image3{
  width: 47%;
  height: auto;
  overflow: hidden;
  transition: 1s;
}
.room-image3 img{
  width: auto;
  height: 100%;
  transition: 1s;
}
.room-text3{
  width: 47%;
  transition: 1s;
}
.room-text3 p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
}
.room-text3 h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}
.room-text3 h3{
  font-weight: 100;
  font-size: 1.2em;
  color: grey;
}
.tariff1{
  width: 30%;
  padding-right: 15px;
  height: auto;
  border-right: 1px solid grey;
  float: left;
  display: block;
  margin-bottom: 20px;
}
.tariff2{
  width: 30%;
  padding-left: 15px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}
.roomtype a{
  text-decoration: none;
  color: #2c28b2;
  font-weight: bold;
  transition: 0.5s;
}
.roomtype a:hover{
  letter-spacing: 2px;
}
.tariff1 p{
  padding: 0;
}
.tariff2 p{
  padding: 0;
}
.room-sidebar{
  position: fixed;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
  width: 50px;
  height: auto;
  right: -80px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
  z-index: 900;
}
.room-sidebar:hover{
  opacity: 1;
}
.room-sidebar > * {
  color: grey;
  font-size: 1em;
  text-align: center;
  background-color: white;
  padding: 15px 0 10px 0;
  display: block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  opacity: .8;
}

.room-sidebar a:hover{
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}

#suitehome{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#suitehome img{
  position: absolute;
  bottom: -200px;
}
.suitehometext{
  display: block;
  position: absolute;
  text-align: center;
  bottom: 150px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  color: white;
}
.roomhometext p{
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.roomhometext h2{
  font-weight: 100;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 2em;
}
#suite1, #suite2, #suite3{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content:flex-start;
  overflow: hidden;
}
#suite1 img{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
#suite2 img{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.suite-text1{
  width: 35%;
  padding: 25px;
  position: absolute;
  align-self: center;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
  transform: translateX(-100px);
}
.suite-text1 p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #DCDCDC;
}
.suite-text1 h2{
  font-weight: 100;
  font-size: 2em;
  color: white;
}
.suite-text1 h3{
  font-weight: 100;
  font-size: 1.2em;
  color: grey;
}

.suite-text2{
  width: 35%;
  padding: 25px;
  position: absolute;
  align-self: center;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;
  transition-delay: 1s;
}
.suite-text2 p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #DCDCDC;
}
.suite-text2 h2{
  font-weight: 100;
  font-size: 2em;
  color: white;
}
.suite-text2 h3{
  font-weight: 100;
  font-size: 1.2em;
  color: grey;
}
.suite-text3{
  width: 35%;
  padding: 25px;
  position: absolute;
  align-self: center;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;
  transition-delay: 2s;
}
.suite-text3 p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #DCDCDC;
}
.suite-text3 h2{
  font-weight: 100;
  font-size: 2em;
  color: white;
}
.suite-text3 h3{
  font-weight: 100;
  font-size: 1.2em;
  color: grey;
}
.tariff1{
  width: 30%;
  padding-right: 15px;
  height: auto;
  border-right: 1px solid grey;
  float: left;
  display: block;
  margin-bottom: 20px;
}
.tariff2{
  width: 30%;
  padding-left: 15px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}
.suite-text1 a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  transition: 0.5s;
}
.suite-text1 a:hover{
  letter-spacing: 2px;
  color: white;
}
.suite-text2 a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  transition: 0.5s;
}
.suite-text2 a:hover{
  letter-spacing: 2px;
  color: white;
}
.suite-text3 a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  transition: 0.5s;
}
.suite-text3 a:hover{
  letter-spacing: 2px;
  color: white;
}
.tariff1 p{
  padding: 0;
}
.tariff2 p{
  padding: 0;
}
.suitesidebar{
  position: fixed;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
  width: 50px;
  height: auto;
  right: -80px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
  z-index: 900;
}
.suitesidebar:hover{
  opacity: 1;
}
.suitesidebar > * {
  color: grey;
  font-size: 1em;
  text-align: center;
  background-color: white;
  padding: 15px 0 10px 0;
  display: block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  opacity: .8;
}

.suitesidebar a:hover{
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}

/* LOVE IS MY FORM  */

#limfhome{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#limfhome img{
  position: absolute;
  top: -100px;
}
.limfhometext{
  display: block;
  position: absolute;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: white;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
}
.limfhometext p{
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.limfhometext h2{
  font-weight: 100;
  text-align: center;
  font-size: 2em;
}
#limf1{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:center;
  overflow: hidden;
  text-align: center;
}
#limf1 img{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -200px;
}
.limf1-text{
  width: 35%;
  padding: 25px;
  position: absolute;
  align-self: center;
  bottom: 400px;
}
.limf1-text p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
  color: black;
}
.limf1-text h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}
.limf2-text a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  transition: 0.5s;
}
.limf2-text a:hover{
  letter-spacing: 2px;
  color: white;
}

#limf2, #limf3{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:center;
  overflow: hidden;
}
.limf2-text{
  width: 25%;
  padding: 25px;
  position: absolute;
  align-self: center;
  left: 100px;
}
.limf2-text p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
  color: black;
}
.limf2-text h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}
.cornerpic1 img{
  width:30%;
  height: auto;
  position: absolute;
  bottom: 50px;
  right: 50px;
  transition: 2s;
  opacity: 1;
}

.chef{
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.chef-image{
  width: 47%;
  height: auto;
  overflow: hidden;
}
.chef-image img{
  width: auto;
  height: 100%;
  transform: translateX(-120px);
}
.chef-image2{
  width: 47%;
  height: auto;
  overflow: hidden;
}
.chef-image2 img{
  width: auto;
  height: 100%;
}
.cornerpic2 img{
  width:35%;
  height: auto;
  position: absolute;
  bottom: 50px;
  left: 50px;
  transition: 2s;
  opacity: 1;
}
.chef-text{
  width: 47%;
}
.chef-text p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
}
.chef-text h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}
.limf-sidebar{
  position: fixed;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
  width: 50px;
  height: auto;
  right: -80px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
  z-index: 900;
}
.limf-sidebar:hover{
  opacity: 1;
}
.limf-sidebar > * {
  color: grey;
  font-size: 1em;
  text-align: center;
  background-color: white;
  padding: 15px 0 10px 0;
  display: block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  opacity: .8;
}

.limf-sidebar a:hover{
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}


#vistahome{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#vistahome img{
  position: absolute;
  bottom: 0;
}
#vista1{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content:center;
  overflow: hidden;
}
#vista1 img{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -200px;
  transition: 2s;
}
.vista1-text{
  width: 35%;
  padding: 25px;
  position: absolute;
  align-self: center;
  bottom: 425px;
  text-align: center;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
  transform: translateY(100px);
}

.vista1-text p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 10px;
  color: black;
}
.vista1-text h2{
  font-weight: 100;
  font-size: 2em;
  color: #2c28b2;
}

#vista2{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
#vista2 img{
  height: auto;
  width: 100%;
  transition: 2s;
}
.vista2-text{
  width: 50%;
  height: auto;
  position: absolute;
  left: 100px;
  top: 50%;
  padding: 25px;
  color: white;
  transition: 1s;
  transition-delay: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.vista2-text p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
}
.vista2-text h2{
  font-weight: 100;
  font-size: 2em;
  padding-bottom: 5px;
}

#vista3{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
#vista3 img{
  width: 100vw;
  height: auto;
  transform: translateY(-150px);
  transition: 2s;
}
.vista3-text{
  width: 50%;
  height: auto;
  position: absolute;
  left: 100px;
  top: 50%;
  padding: 25px;
  color: white;
  transition: 1s;
  transition-delay: 1s;
  background-color: rgba(0, 0, 0, 0.8);
}
.vista3-text p{
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 auto;
}
.vista3-text h2{
  font-weight: 100;
  font-size: 2em;
  padding-bottom: 5px;
}

.vistasidebar{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  opacity: .5;
  width: 50px;
  height: auto;
  right: -80px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
  z-index: 900;
}
.vistasidebar:hover{
  opacity: 1;
}
.vistasidebar > * {
  color: grey;
  font-size: 1em;
  text-align: center;
  background-color: white;
  padding: 15px 0 10px 0;
  display: block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  opacity: .8;
}

.vistasidebar a:hover{
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
